<!DOCTYPE html>
<html>

<head>
    
    
</head>

<body>
    
    <h1>add portal:</h1>
    

    <form action="/addnow" method="POST">
        <h3>Username:</h3><input type="text" name="username"><br><br>
        <h3>firstname:</h3> <input type="text" name="firstname" ><br><br>
        <h3>lastname:</h3><input type="text" name="lastname"  ><br><br>
        <h3>category:</h3><select name="category"    ><br><br><br><br>
            <option value="admin">admin</option>
            <option value="black">black</option>
            <option value="investigate">investigate</option>
            <option value="toll">toll</option>
        </select>


       
        
        
        <h3>Email:</h3><input type="text" name="email" ><br><br>
        <h3>password:</h3><input type="text" name="password" ><br><br>
        <h3>mobile:</h3><input type="text" name="mobile" >
        <input type="submit">


    </form>
    

</body>
</html>