<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>this is edit page:</h1>
        <p><h2>to edit fill the number</h2></p>
        <p><h2>press edit</h2>
        </p>
        <form action="/vehicle_send_page" method="POST">
            <input type="text" name="number">
            <button type="submit">edit</button>
        </form>
      
    </body>
</html>