<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
<h1>welcome to the search portal</h1>

<div style="background-color: aqua;"> 
    <h2>search vehicles by number or owner</h2>
    <form action="/vandi">
        <button type="submit">click here</button>
    </form>
</div >


<div style="background-color: coral;">

<h2>Stats:</h2>
<form action="/stats">
    <button type="submit">click here</button>
</form>



</div>


<div style="background-color: gold;">
<h2>money management:</h2>
<form action="/fee">
<button type="submit">click here</button></form>



</div>





<form action="/">
    <button type="submit">logout</button>
</form>
</body>


</html>