<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
<h1>this is tollgate entry page</h1>
<div style="text-align: center;">
<form action="/fun_to_show_toll" method="POST">
<h2>enter the detaisl</h2>
 
<h3>plaza id:</h3>
<input type="text" name="id">
<button type="submit">enter</button>
</div>
</form>
<form action="/">
<button type="submit">logout</button></form>

</body>


</html>