<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="background-color: burlywood;">
        <h2>to know details enter the number</h2>
        <form action="/search_by_number" method="POST">
            <h2>number:</h2><input type="text" name="number" required><br><br>
            <button type="submit">search</button>
        </form>
    </div>
<div style="background-color: chartreuse;">

    <h2>to know details enter name and address</h2>
    <form action="/search_by_name" method="POST">
        <h2>name:</h2><input type="text" name="name" required> <br><br>
        <h2>address:</h2> <input type="text" name="address" required><br><br>
        <button type="submit">serach</button>
    </form>

</div>






    <form action="/home/investigate">
        <button type="submit">back</button>
    </form>
    </body>
</html>