<!DOCTYPE html frameset dtd>
<html>
    <head>

    </head>

    <body>
        <h1>this is the vehhicle database page:</h1>
        <form action="/logout">
            <button type="submit" >logout
            </button></form>
       
     <iframe src="add_vehicle" frameborder="1" width="700" height="1000"></iframe>
     <iframe src="edit_index" frameborder="1"width="700" height="1000"></iframe>
        
    </body>
</html>